.violette-editor {
    display: block;
    border: 1px solid #ddd
}

.violette-editor {
    display: block;
    padding: 6px 4px;
    background: #fdfdfd;
}

.violette-editor > .violette-header {
    margin: 0;
}

.violette-editor > .violette-footer {
    margin: 0;
}


.violette-multistage {
    margin: 0;
    min-height: 25px;
    height: auto;
    border-bottom: 1px dashed #ddd;
}

.violette-history {
    margin: 0;
    min-height: 50px;
    height: auto;
    border-bottom: 1px dashed #ddd;
}

.violette-editor > .violette-preview {
    background: #fff;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    min-height: 10px
}

.violette-editor > textarea {
    font-family: Consolas, monospace, serif;
    font-size: 14px;
    outline: 0;
    outline: thin dotted \9;
    margin: 0;
    display: block;
    padding: 0;
    width: 100%;
    border: 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    border-radius: 0;
    box-shadow: none;
    background: #eee
}

.violette-editor > textarea:focus {
    box-shadow: none;
    background: #fff
}

.violette-editor.active {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.violette-editor.broken {
    border-color: #c44133;
    outline: 0;

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(236, 112, 99, 0.60);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(236, 112, 99, 0.60)
}

.violette-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.minibutton {
    display:inline-block;
    margin-top:4px;
    margin-left:5px;
    padding: 5px 11px;
    font-size: 12px;
}

.octicon-danger {
    color: #ffffff;
    background-color: #e74c3c;
    padding: 5px 11px;
}

.octicon-danger:hover,
.octicon-danger:focus,
.octicon-danger:active,
.octicon-danger.active,
.open .dropdown-toggle.octicon-danger {
    color: #ffffff;
    background-color: #ec7063;
    border-color: #ec7063;
}
.octicon-danger:active,
.octicon-danger.active,
.open .dropdown-toggle.octicon-danger {
    background: #c44133;
    border-color: #c44133;
}

.octicon-danger.disabled,
.octicon-danger[disabled],
fieldset[disabled] .octicon-danger,
.octicon-danger.disabled:hover,
.octicon-danger[disabled]:hover,
fieldset[disabled] .octicon-danger:hover,
.octicon-danger.disabled:focus,
.octicon-danger[disabled]:focus,
fieldset[disabled] .octicon-danger:focus,
.octicon-danger.disabled:active,
.octicon-danger[disabled]:active,
fieldset[disabled] .octicon-danger:active,
.octicon-danger.disabled.active,
.octicon-danger[disabled].active,
fieldset[disabled] .octicon-danger.active {
    /*background-color: #e74c3c;*/
    /*border-color: #e74c3c;*/
    background-color: #d6dbdf;
    border-color:#d6dbdf;
}

.danger{color:#c00}
.success{color:#6cc644}

.octicon-button{
    /*float:right;*/
    padding:4px;
    margin-left:5px
}
.octicon-button.danger:hover{color:#bd2c00}
.octicon-button.success:hover{color:#6cc644}
.octicon-button{
    display:inline-block;
    margin-left:9px;
    margin-right:-4px;
    padding-right:5px;
    padding-left:5px;
    color:#777;vertical-align:middle
}
.octicon-button.danger:hover{color:#bd2c00}
.octicon-button.disabled{color:#bbb;cursor:default}
.octicon-button.disabled:hover{color:#bbb}
.octicon-button:last-child{margin-right:0}
.octicon-button:hover{color:#4183c4}
.octicon-button.disabled{color:#bbb;cursor:default}
.octicon-button.disabled:hover{color:#bbb}


.scratch-button {
    position: absolute;
    z-index: 999;
    opacity: 3;
    -webkit-transition: 0.15s all;
    -moz-transition: 0.15s all;
    transition: 0.15s all;
}

.tooltip-custom-theme {
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-font-smoothing: initial;
    color: white;
    white-space: pre;
    word-wrap: break-word;
    padding: 7px 8px;
    border-radius: 3px;

}
/* Use this next selector to style things like font-size and line-height: */
.tooltip-custom-theme .tooltipster-content {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    line-height: 1.3;
}

.file {
    padding:5px 10px;
    border-bottom:1px solid #d8d8d8;
    background-color:#f7f7f7;
    border-top-left-radius:4px;
    border-top-right-radius:4px
}

.file-editor-textarea{
    width:100%;
    padding:5px 4px;
    font:12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    resize:vertical;
    border:0;
    border-radius:0;
    outline:none;
}

.tabnav-right{
    position:relative;
    float:right
}

.tabnav-left{
    position:relative;
    float:left;
}

.tabnav-center {
    position:relative;
    left:15px;
    font-size: 12px;
    font-family:"futura-pt",Helvetica,Arial,sans-serif;
    text-rendering:optimizeLegibility;
}

.meta-divider{
    display:inline-block;
    width:1px;
    height:18px;
    margin:0 3px;
    vertical-align:middle;
    background-color:#ddd
}

.divider{
    display:inline-block;
    width:30px;
    height:18px;
    margin:0 6px;
    vertical-align:middle;
}

.tabnav-right:hover button {
    opacity: 0.4;
}

.tabnav-right button:hover {
    opacity: 1;
}

.info{
    float:left;
    height:30px;
    font-size: 13px;
    margin-left: 5px;
    line-height:33px;
}

.status{
    margin-top: 5px;
    height:30px;
    font-size: 13px;

    color: #ccc;
    font-family:"futura-pt",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    text-rendering:optimizeLegibility;
    letter-spacing:0.1em;
}

.extra {
    margin-top: 5px;
    height:30px;
    font-size: 13px;
    font-family:"futura-pt",Helvetica,Arial,sans-serif;
    text-rendering:optimizeLegibility;
}

.editing {
    /*comment this out if want to constrained codemirror*/
    padding: 0 1em 0 0;
    margin-left: -9px;
    margin-right: -9px;
    background: rgb(255, 255, 255);
}


.btn-dark-link {
    color: #000000;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0
}

.btn-dark-link, .btn-dark-link:active, .btn-dark-link[disabled], fieldset[disabled] .btn-dark-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-dark-link, .btn-dark-link:hover, .btn-dark-link:focus, .btn-dark-link:active {
    border-color: transparent
}

.btn-dark-link:hover, .btn-dark-link:focus {
    color: #000000;
    text-decoration: underline;
    background-color: transparent
}

.btn-dark-link[disabled]:hover, fieldset[disabled] .btn-dark-link:hover, .btn-dark-link[disabled]:focus, fieldset[disabled] .btn-dark-link:focus {
    color: #999;
    text-decoration: none
}

/*Codemirror: begin*/
.Editor {
    font-family: Consolas, monospace, serif;
    font-size:13px;
    line-height: 13px;
    height: auto;
    margin: auto;
    /*background-color:#f8fafd;*/
    padding-top:0;
    padding-bottom:0;
    cursor:default;
}

.Editor {
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.Editor-linenumber:hover {
    color: #0c0300;
    font-weight: bold;
}



/*Button groups*/

.minibutton {
    position: relative;
    display: inline-block;
    /*padding: 7px 12px;*/
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    background-repeat: repeat-x;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    margin-top:3px;
    margin-bottom:5px;
}

.minibutton i {
    font-style: normal;
    font-weight: 500;
    opacity: 0.6
}

.minibutton:focus {
    text-decoration: none;
    border-color: #51a7e8;
    outline: none;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5)
}

.minibutton:hover, .minibutton:active {
    text-decoration: none;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    background-repeat: repeat-x;
    border-color: #ccc
}

.minibutton:active, .minibutton.selected, .minibutton.selected:hover {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15)
}

.minibutton:disabled, .minibutton:disabled:hover, .minibutton.disabled, .minibutton.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    cursor: default;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    border-color: rgba(197, 197, 197, 0.5);
    box-shadow: none
}

.minibutton.primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-repeat: repeat-x;
    border-color: #5ca941;

    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px
}

.minibutton.primary:hover {
    color: #fff;
    background-color: #569e3d;
    background-image: -webkit-linear-gradient(#79d858, #569e3d);
    background-image: linear-gradient(#79d858, #569e3d);
    background-repeat: repeat-x;
    border-color: #4a993e
}

.minibutton.primary:active, .minibutton.primary.selected {
    background-color: #569e3d;
    background-image: none;
    border-color: #418737
}

.minibutton.primary:disabled, .minibutton.primary:disabled:hover, .minibutton.primary.disabled, .minibutton.primary.disabled:hover {
    color: #fefefe;
    text-shadow: 0 -1px 0 rgba(39, 39, 39, 0.25);
    background-color: #add39f;
    background-image: -webkit-linear-gradient(#c3ecb4, #add39f);
    background-image: linear-gradient(#c3ecb4, #add39f);
    background-repeat: repeat-x;
    border-color: #b9dcac #b9dcac #a7c89b
}

.minibutton.danger {
    color: #900
}

.minibutton.dark {

    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color:  #34495e;
    background-image: -webkit-linear-gradient(#476480, #34495e);
    background-image: linear-gradient(#476480, #34495e);
    background-repeat: repeat-x;
    border-color: #34495e;

    /*padding: 5px 11px;*/
    font-size: 12px;
    /*line-height: 1.5;*/
    /*text-transform: uppercase;*/
    border-radius: 3px;
    /*margin-top:4px;*/
    /*margin-bottom:1px;*/

}

.minibutton.dark:hover {
    color: #fff;
    background-color:  #34495e;
    background-image: -webkit-linear-gradient(#476480, #34495e);
    background-image: linear-gradient(#476480, #34495e);
    background-repeat: repeat-x;
    border-color: #34495e;
}

.minibutton.dark:active, .minibutton.dark.selected {
    background-color: #476480;
    background-image: none;
    border-color: #34495e
}

.minibutton.dark:disabled, .minibutton.dark:disabled:hover, .minibutton.dark.disabled, .minibutton.dark.disabled:hover {
    color: #fefefe;
    text-shadow: 0 -1px 0 rgba(39, 39, 39, 0.25);
    background-color: #709eca;
    background-image: -webkit-linear-gradient(#709eca, #6d9ac5);
    background-image: linear-gradient(#709eca, #6d9ac5);
    background-repeat: repeat-x;
    border-color: #709eca #6d9ac5 #6c99c4
}


.button-group{display:inline-block;vertical-align:middle}
.button-group:before{display:table;content:""}
.button-group:after{display:table;clear:both;content:""}
.button-group .minibutton{position:relative;float:left;border-radius:0}
.button-group .minibutton:first-child{border-top-left-radius:3px;border-bottom-left-radius:3px}
.button-group .minibutton:last-child{border-top-right-radius:3px;border-bottom-right-radius:3px}
.button-group .minibutton:hover,.button-group .minibutton:focus,.button-group .minibutton:active,.button-group .minibutton.selected{z-index:2}
.button-group .minibutton+.minibutton{margin-left:-1px;box-shadow:inset 1px 0 0 rgba(255,255,255,0.2)}
.button-group .minibutton+.minibutton:hover{box-shadow:none}
.button-group .minibutton+.minibutton:active,.button-group .minibutton+.minibutton.selected{box-shadow:inset 0 3px 5px rgba(0,0,0,0.15)}
.button-group .button_to .minibutton{border-radius:0}
.button-group .button_to:first-child .minibutton{border-top-left-radius:3px;border-bottom-left-radius:3px}
.button-group .button_to:last-child .minibutton{border-top-right-radius:3px;border-bottom-right-radius:3px}
.button-group+.button-group,.button-group+.minibutton{margin-left:5px}


/*noUiSlider*/
.violette-slider {
    width: 50px;
}

.noUi-handle{
    width:10px;
    height:10px;
    /*position: relative;*/
    left: 24px;
}

/*width: 350px*/
.noUi-horizontal { left: 8px; width: 200px; height:12px; bottom: 1px;top: 5px;}
.noUi-horizontal .noUi-handle {
    width: 17px;
    height: 18px;
    left: -8px;
    top: -4px
}

.noUi-connect {
    background: #34495e;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, .45);
    -webkit-transition: background 450ms;
    transition: background 450ms
}

.noUi-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0
}

.noUi-handle:after, .noUi-handle:before {
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px
}

/*Input Dialog*/
.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 15px;
    margin: 5px 5px 5px -1px;
    width: 100%;
}

.right-inner-addon i{
    position:absolute;
    right: 0;
    padding: 10px 12px;
}

/*Next Button*/

.next {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20)
}

.next:hover, .next:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50)
}

button.next {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none
}

.break{
    display:inline-block;
    width:5px;
    height:18px;
    margin:0 6px;
    vertical-align:middle;
}

.note {
    margin-top: 5px;
    height:30px;
    color: #34495e;
    font-size: 12px;
    font-family:"futura-pt",Helvetica,Arial,sans-serif;
    text-rendering:optimizeLegibility;
}

.notes-title {
    border-bottom: 1px solid #e5e5e5;
    color: #888;
    margin-top: 22px;
    font-size: 1.125em;
    line-height: 1.2222em;
    margin-top: 1.2222em;
    margin-bottom: 0;
    padding-bottom: 6px;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
}

/* Tagging Basic Style */
.tags {
    /*padding: 19px;*/
    padding: 15px;
}
.tagging {
    border: 1px solid #CCCCCC;
    cursor: text;
    font-size: 1em;
    height: auto;
    padding: 10px 10px 15px;
}

.tag {
    background: none repeat scroll 0 0 #D66806;
    border-radius: 2px;
    color: white;
    cursor: default;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding: 4px 20px 4px 0;
    margin: 5px 10px 0 0;
}

.tag span {
    background: none repeat scroll 0 0 #D66806;
    border-radius: 2px 0 0 2px;
    margin-right: 5px;
    padding: 5px 10px 5px;
    color: white;
}

.tag .tag-i {
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    height: 0;
    line-height: 0.1em;
    position: absolute;
    right: 5px;
    top: 10px;
    text-align: center;
    width: 10px;
}

.tag .tag-i:hover {
    color: black;
    text-decoration: underline;
}

.type-zone {
    border: 0 none;
    height: auto;
    width: auto;
    min-width: 20px;
    display: inline-block;
}

.type-zone:focus {
    outline: none;
}

.none {
    border: 0 none;
}


/*Intent*/
.titlearea {
    color:#373737;
    margin-top: 22px;
    font-size: 15px;
    line-height: 1.4em;
    margin-top: 1.2222em;
    margin-bottom: 0;
    font-weight: bold;
}

.titlearea-light {
    color:#373737;
    margin-top: 22px;
    font-size: 15px;
    line-height: 1.4em;
    margin-top: 1.2222em;
    margin-bottom: 0;
    font-weight: normal;
}

.char-count {
    font-weight: bold;
}

.char-count.warning {
    color: red;
}


/*Document*/
.violette-document {
    display: block;
    padding: 6px 4px;
    background: #ffffff;
    border: 1px solid #ddd
}

.violette-reader blockquote {
    /*border-left: 3px solid #e7e9ec;*/
    background: #fff;
    border-left: none;
    padding: 0 0 0 16px;
    margin: 0 0 20px;
}

.violette-reader blockquote:before {
    content: '\f063';
    font-family: octicons;
    float: left;
    margin-right: 10px;
    margin-top: -2px;
}

.violette-reader blockquote p {
    font-size: 20px;
    line-height: 1.55;
    font-weight: normal;
    margin-bottom: .4em;
}
.violette-reader blockquote small,
.violette-reader blockquote .small {
    font-size: 18px;
    line-height: 1.72222;
    font-style: italic;
    color: inherit;
}
.violette-reader blockquote small:before,
.violette-reader blockquote .small:before {
    content: "";
}
.violette-reader blockquote.pull-right {
    padding-right: 16px;
    padding-left: 0;
    border-right: 3px solid #e7e9ec;
    border-left: 0;
}
.violette-reader blockquote.pull-right small:after {
    content: "";
}

/*Composer*/
.intent-composer {
    width: auto;
    margin-bottom: 5px;

    border: 1px solid #CCCCCC;
    cursor: text;
    font-size: 1em;
    height: auto;
    padding: 15px 10px 15px;
    outline: none;
}

/******* EXAMPLE C *******/

.rating-c .br-widget {
    height: 52px;
}

.rating-c .br-widget a {
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #b6b6b6;
}

.rating-c .br-widget a.br-active,
.rating-c .br-widget a.br-selected {
    background-color: #34495e;
    color: white;
}

